@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
       url("../fonts/PTSans-Regular.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff"); 

  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/*General rules*/

.navigation-list,
.user-navigation-list,
.advantages-list,
.advantages-sublist {
  list-style: none;
}

.wrapper {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/*Pages*/

.page-header {
  display: flex;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
}

/*Navigation*/

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
}

.logo img {
  margin-left: 3px;
  margin-right: 44px;
  margin-bottom: -9px;
  position: relative;
  z-index: 2
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-item {
  margin-right: 34px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-user {
  max-width: 320px;
  width: auto;
  margin-left: auto;
}

.navigation-user li:first-child {
  margin-right: 24px;
}
.navigation-user li:nth-child(2) {
  margin-right: 31px;
}
.navigation-user li:last-child {
  /* margin-right: 49px; */
}

.navigation-link {
  display:block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  
}



.navigation-link.favourite {
  position: relative;
}

.navigation-link.favourite .count {
  position: absolute;
  right: -14px;
  top: -7px;
  display: block;
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 20px;
  color: #ffffff;
}

.navigation-link-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
  padding: 10px 35px;
  
}

/*Main Content Container*/

/*Main*/

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/*Banner*/

.banner {
  box-sizing: content-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 458px;
  width: 100%;
  padding-top: 51px;
  padding-bottom: 80px;
}

.main-description {
  position: relative;
  background-image: url("../images/index-background.jpg");
  background-color: #756257;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.main-description:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 57px;
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
}

/*Advantages*/

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 730px;
  margin: 66px auto 30px auto;
}

.advantages p {
  text-align: center;
  max-width: 214px;
  
 
}

.advantages > p {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin-bottom: 78px;
  max-width: none;
}


/* Advantages List*/

.advantages-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  
}

/* Wrapper for Advantages #1 and #2 */

.item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.item-wrapper .advantages-item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
}

.advantages-item-text {
  margin-top: 30px;
}

/* Задаёт фон и цвет*/

.advantages-item:nth-child(odd) .item-wrapper {
  background: #83b3d3;
  color: #ffffff;
}

.advantages-item:nth-child(3) {
  flex-direction: row-reverse;
}

.advantages-item:last-child .advantages-sublist-item:nth-child(2) {
  background: rgba(131, 179, 211, 0.2);
  
}

.advantages-sublist .advantages-sublist-item:not(:nth-child(2)) {
  background: rgba(131, 179, 211, 0.12);
}

/*Выставляет отступы у иконок*/

.house-pic {
  margin-top: 89px;
}

.food-pic {
  margin-top: 91px;
}

.souvenir-pic {
  margin-top: 85px;
}


/*Advantages Sublist*/ 

.advantages-sublist {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.advantages-sublist-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  min-height: 384px;
    
}

.advantages-sublist-title {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 26px;
  margin-right: 110px;
  margin-left: 108px;
}


.advantages-sublist p {
  color: #333333;
  margin-right: 65px;
  margin-left: 65px;
  text-align: center;
  
}

.advantages-sublist p:first-of-type {
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  margin-right: 79px;
  margin-left: 80px;
  max-width: 241px;
  
}

/* .advantages-sublist p:last-child {
  margin-bottom: 100px;
  
}
.advantages-sublist.reasons p:last-of-type {
  margin-bottom: 84px;
} */

.advantages-item-subtitle {
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #000000;
margin-top: 98px;
margin-left: 111px;
margin-right: 110px;
}

/*hotel Search*/

.index-hotel-search {
  text-align: center;
  padding-bottom: 92px;
  padding-top: 30px;
}

.index-hotel-search-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 63px;
}

.index-hotel-search p {
font-family:"PT Sans", sans-serif;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
margin-top: 0;
margin-bottom: 0;
}

.hotel-search-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756257;
  border-radius: 10px;
  padding: 11px 150px;
  margin-top: 61px;
  display: inline-block;
  
 
}

/*Newsletter*/

.newsletter {
  background-image: url("../images/bg_newsletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 94px;
  padding-bottom: 94px;
  color: #ffffff;
  text-align: center;
  
}

.catalog-main .newsletter {
  background-image: none;
  padding-top: 45px;
  margin-bottom: 35px;
}

.catalog-main .newsletter-title {
  color: #000000;
  margin-bottom: 41px;
}

.catalog-main .newsletter-text {
  color: #333333;
  margin: 0 auto 46px;
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  max-width: 468px;
  margin: 0 auto 42px;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  padding: 20px 30px;
  border: 0;
  margin-left: -6px;
}

.newsletter-email {
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  padding: 24px 22px;
  width: 600px;
  border: none;
}

.newsletter-email::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);

}

/*Page footer*/

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.social-links-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.social-link-item {
  text-decoration: none;
  list-style: none;
  margin-right: 30px;

}

.social-link-item:last-child {
  margin-right: 0;
}

.twitter {
  background-image: url("../images/icons/twitter.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 18px;
  height: 15px;
  
}

.facebook {
  background-image: url("../images/icons/facebook.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 10px;
  height: 18px;
}

.youtube {
  background-image: url("../images/icons/youtube.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 20px;
  height: 16px;
}

/*Catalog*/

.catalog-hotel-search {
  position: relative;
  /* top: 6px; */
  background-image: url("../images/bg-catalog.jpg");
  background-size: 100 auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #ffffff;
}

.sorting-container {
  max-width: 1057px;
  margin: 0 auto;
  height: 396px;
}

.catalog-page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 0;
  margin-top: 35px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  display: inline-block;
}

/* Link */

.breadcrumbs-link {
  color: inherit;
}

.hotel-search-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 30px;
}

.hotel-search-checkbox,
.hotel-search-checklist,
.hotel-search-cost {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  display: block;
}


.hotel-search-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 80px;
}

.hotel-search-infrastructure {
  max-width: 155px;
  margin-right: 67px;
}

.hotel-search-housing {
  max-width: 155px;
   
}

.hotel-search-cost {
  max-width: 290px;
  margin-left: auto;
}

.hotel-search-checklist:not(:last-child) {
  margin-bottom: 13px;

}

.hotel-search-checkbox:not(:last-child){
  margin-bottom: 13px;
}

.min-price,
.max-price {
  border: 2px solid #FFFFFF;
  background: transparent;
  padding: 13px 15px;
  width: 50%;
  color:#ffffff;
  font-size: 18px;
  line-height: 23px;
}

.max-price {
  margin-left: -5px;
  border-left: 0;
}

.range {
  width: 100%;
  margin-top: 25px;
}

.element-view {
  background: #ffffff;
  width: 51px;
  height: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.element-view.active {
  border-color: #000000;
}

.element-view:hover,
.element-view:active {
  border-color: #83b3d3;
}

.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  margin-top: 75px;
  padding: 12px 30px;
  margin-bottom: 20px;
}

.submit-button,
.reset-button {
  margin-left: 80px;
  display: block;
}

/* Hotel Search Display result*/

.search-results {
  max-width: 1057px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.search-results-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 287px;
  padding: 10px 14px 12px 14px;
  font-size: 16px;
  line-height: 23px;
  color: #333333;
  margin-left: auto;
  margin-right: 80px;

}

.select-control option {
font-family: "PT Sans", sans-serif;
font-size: 18px;
line-height: 23px;
color: #333333;
}

.hotel-search-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  margin-bottom: -8px;
  z-index: 100;
}

.hotel-card {
  margin-bottom: 49px;
 margin-left: 60px;
}

.hotel-card:first-child, 
.hotel-card:nth-child(4n) {
  margin-left: 20px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
  margin-top: 13px;
  margin-bottom: 17px;
}

.hotel-review {
  display: grid;
  grid-template-columns:  1fr max-content;
  grid-template-rows: 21px 37px max-content;
  column-gap: 10px;
  row-gap: 16px;
  max-width: 301px;
}

.hotel-review p {
  grid-column: 1 / 2;
  align-content: start;
  margin: 0;
}

.hotel-review span {
  grid-column: 2 / 3;
  align-content: start;
}

/*Star rating display*/

.two-stars {
  background-image: url("../images/icons/star.svg");
  background-size: contain;
  background-repeat: space ;
  width: 43px;
  height: 17px;
}

.three-stars {
  background-image: url("../images/icons/star.svg");
  background-size: contain;
  background-repeat: space ;
  width: 65px;
  height: 17px;
}

.four-stars {
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat;
  background-size: contain;
  background-repeat: space ;
  width: 87px;
  height: 17px;
}

.star-review {

 padding-top: 10px;
}

.rating-container {
  grid-column: span 2;
  display: flex;
  align-items: center;
  
}


.hotel-card-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 15px;
  margin-right: 15px;
}

.hotel-card-button-favourite {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 20px;
  max-width: 140px;
}

.customer-rating {
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 9px 27px;
  margin-left: auto;

}

.pagination {
  max-width: 1056px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination-display {
  display: flex;
  align-items: center;
}

.pagination-display span {
  margin-right: 51px;
 
 
}

.pagination-select {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 160px;
  padding: 13px 17px;
}

.more-results {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  text-align: center;
}

.more-results-button {
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 620px;
  margin-top: 41px;
  margin-bottom: 30px;
  border: none;
}

.pagination-links {
  text-align: center;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 55px;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  width: 54px;
  height: 55px;
  display: inline-block;
  text-decoration: none;
}

.pagination-link:not(:first-child) {
  margin-left: 5px;
}
