@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #e5e5e5;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.navigation-list,
.user-navigation-list,
.advantages-list,
.advantages-sublist {
  list-style: none;
}

button {
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

/*Pages*/

.page-header {
  display: flex;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
}

/*Navigation*/

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
}

.logo img {
  margin-left: 3px;
  margin-right: 44px;
  margin-bottom: -9px;
  position: relative;
  z-index: 2;
}

.logo:focus {
  outline: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 420px;
  min-height: 70px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-item {
  margin-right: 34px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-user {
  max-width: 320px;
  width: auto;
  margin-left: auto;
}

.navigation-user li:first-child {
  margin-right: 24px;
}
.navigation-user li:nth-child(2) {
  margin-right: 31px;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
}

.navigation-link:hover {
  color: #756257;
  cursor: pointer;
}

.navigation-link:focus {
  color: rgba(117, 98, 87, 0.3);
  outline: none;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link.active::before {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 43px;
  left: 0;
  background: #756257;
  content: "";
}

.navigation-link.favourite {
  position: relative;
  fill: #756257;
  cursor: pointer;
}

.navigation-link.favourite .count {
  position: absolute;
  right: -14px;
  top: -7px;
  display: block;
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 20px;
  color: #ffffff;
}

.navigation-icon {
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
  cursor: pointer;
}

.navigation-link:focus .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
  outline: none;
}

.navigation-link-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  padding: 9px 34px;
  max-width: 160px;
  display: block;
  width: 100%;
}

.navigation-link-button:hover {
  background-color: #615048;
}

.navigation-link-button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.navigation-link-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/*Main Content Container*/

/*Main*/

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/*Banner*/

.banner {
  box-sizing: content-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 458px;
  width: 100%;
  padding-top: 51px;
  padding-bottom: 80px;
}

.main-description {
  position: relative;
  background-image: url("../images/index-background.jpg");
  background-color: #756257;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-description:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  min-height: 57px;
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
}

/*Advantages*/

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 730px;
  margin: 64px auto 30px auto;
}

.advantages p {
  text-align: center;
  max-width: 250px;
}

.advantages > p {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin-bottom: 78px;
  max-width: none;
}

/* Advantages List*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

/* Wrapper for Advantages #1 and #2 */

.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.item-wrapper .advantages-item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 246px;
  margin-top: 28px;
  margin-bottom: 10px;
}

/* Задаёт фон и цвет*/

.advantages-item:nth-child(odd) .item-wrapper {
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item:nth-child(3) {
  flex-direction: row-reverse;
}

.advantages-item:last-child .advantages-sublist-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-sublist-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

/*Выставляет отступы у иконок*/

.sublist-item-house-icon {
  background-image: url("../images/icons/house.svg");
  width: 75px;
  height: 72px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin-top: 89px;
}

.sublist-item-food-icon {
  background-image: url("../images/icons/food.svg");
  width: 74px;
  height: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin-top: 91px;
}

.sublist-item-souvenir-icon {
  background-image: url("../images/icons/present.svg");
  width: 64px;
  height: 76px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin-top: 85px;
}

/*Advantages Sublist*/

.advantages-sublist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.advantages-sublist-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  align-items: center;
  min-height: 384px;
}

.advantages-sublist-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}

.advantages-sublist p {
  color: #333333;
  text-align: center;
}

.sublist-text {
  margin-top: 30px;
  text-align: center;
}

.advantages-item-subtitle {
  font-family: "PT Sans", sans-serif;

  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 98px 110px 7px;
}

/*hotel Search*/

.index-hotel-search {
  text-align: center;
  padding-bottom: 92px;
  padding-top: 30px;
}

.index-hotel-search-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 64px;
}

.index-hotel-search p {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}

.hotel-search-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756257;
  border-radius: 10px;
  padding: 11px 150px;
  margin-top: 58px;
  display: inline-block;
  border: 3px solid transparent;
}

.hotel-search-link:hover {
  background-color: #615048;
  cursor: pointer;
}

.hotel-search-link:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.hotel-search-link:active {
  color: #ffffff;
  opacity: 0.3;
  outline: none;
}

/*Newsletter*/

.newsletter {
  background-image: url("../images/bg_newsletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 94px;
  padding-bottom: 9px;
  color: #ffffff;
  text-align: center;
}

.catalog-main .newsletter {
  background-image: none;
  padding-top: 45px;
  margin-bottom: 40px;
}

.catalog-main .newsletter-title {
  color: #000000;
  margin-bottom: 45px;
}

.catalog-main .newsletter-text {
  color: #333333;
  margin: 0 auto 46px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  max-width: 468px;
  margin: 0 auto 42px;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  padding: 15px 26px;
  border: 0;
  margin-left: -6px;
  max-width: 200px;
  width: 100%;
  margin-bottom: 84px;
}

.newsletter-button:hover {
  background: #68a2ca;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.newsletter-button:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  border-radius: 0px 10px 10px 0px;
  padding: 14px 22px;
  outline: none;
}

.newsletter-button:active {
  background: #68a2ca;
  color: #ffffff;
  opacity: 0.3;
  border: none;
}

.newsletter-button:disabled {
  color: #ffffff;
  background-color: #595959;
}

.newsletter-email {
  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  padding: 26px;
  width: 600px;
  border: 3px solid transparent;
  margin-bottom: 84px;
  height: 60px;
}

.newsletter-email::placeholder {
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);
}

.newsletter-email:hover {
  background: #e6e6e6;
}

.newsletter-email:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

/* Invalid */

.newsletter-email:invalid,
.newsletter-email:focus:invalid {
  border: 2px solid #ff5757;
}

/* Disabled */

.newsletter-email:disabled,
.newsletter-email:disabled:hover {
  color: #595959;
  background-color: #f2f2f2;
  border-color: #595959;
}

/*Page footer*/

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.footer {
  padding-top: 43px;
  padding-bottom: 40px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.social-links-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.social-link-item {
  text-decoration: none;
  list-style: none;
  margin-right: 5px;
  outline-offset: -5px;
  margin-top: -3px;
}

.social-link-item:last-child {
  margin-right: 0;
}

.social-link-item:first-child {
  margin-left: -10px;
}

.social-link-item a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid transparent;
}

.social-link-item svg {
  fill: #83b3d3;
  display: block;
}

.social-link-item:hover svg {
  fill: #68a2ca;
  cursor: pointer;
}

.social-link-item a:focus svg {
  fill: #68a2ca;
}

.social-link-item a:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.social-link-item a:active {
  opacity: 0.3;
}

.footer-phone,
.footer-logo {
  border-radius: 10px;
  border: 3px solid transparent;
}

.footer-phone:hover {
  color: #756257;
  cursor: pointer;
}

.footer-phone:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.footer-phone:active {
  color: #756257;
  opacity: 0.3;
}

.logo-htmlacademy {
  fill: #000000;
}

.logo-htmlacademy:hover,
.logo-htmlacademy:active {
  fill: #756257;
  cursor: pointer;
}

.footer-logo:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

/*Modal Window*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal-active {
  display: flex;
}

.modal-window {
  position: relative;
  margin: auto;
  padding: 60px 70px 64px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  max-width: 715px;
  width: 100%;
}

.modal-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
}

.modal-form {
  padding-bottom: 10px;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.modal-close-button {
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
}

.modal-close-button svg {
  fill: #000000;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.modal-close-button:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-form label {
  display: flex;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.modal-form input {
  background: #f2f2f2;
  border-radius: 4px;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  border: 3px solid #f2f2f2;
  line-height: 36px;
}

.validation-error,
.validation-warning {
  font-size: 16px;
  margin: 0;
  margin-left: 156px;
  display: none;
}

.validation-error {
  color: #ff5757;
  margin-bottom: 18px;
}

.validation-warning {
  color: #333333;
  margin-bottom: 21px;
}

.validation-error-active,
.validation-warning-active {
  display: block;
}

.form-group {
  position: relative;
  display: flex;
  max-width: 575px;
  width: 100%;
}

.form-group > label {
  max-width: 155px;
  width: 100%;
}

.form-group > input {
  padding-left: 15px;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
  height: 50px;
}

.modal-form input:hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.modal-form input:focus {
  border: 3px solid #83b3d3;
  background-color: #e6e6e6;
  outline: none;
}

.modal-form input:active {
  background-color: #ffffff;
  border: 3px solid #000000;
}

/* Invalid */

.modal-form input:invalid,
.modal-form input:focus:invalid {
  border: 3px solid #ff5757;
}

/* Disabled */

.modal-form input:disabled,
.modal-form input:disabled:hover {
  color: #595959;
  border-color: #595959;
}

/* .people-count > label {
  margin-bottom: 6px;
} */

.people-count input[type="number"] {
  width: 33px;
  -moz-appearance: textfield;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */

.people-count input[type="number"]::-webkit-outer-spin-button,
.people-count input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.people-count {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 575px;
}

.adult-count-wrapper {
  display: flex;
  max-width: 288px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.children-count-wrapper {
  display: flex;
  max-width: 230px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.children-count-wrapper input {
  position: relative;
}

.minus,
.plus {
  background: #f2f2f2;
  font-size: 18px;
  width: 50px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minus svg,
.plus svg {
  fill: #000000;
  opacity: 0.3;
}

.adult-count-wrapper .minus svg:hover,
.adult-count-wrapper .plus svg:hover,
.children-count-wrapper .minus:hover,
.children-count-wrapper .plus:hover {
  opacity: 1;
  fill:#000000;
  background-color: #e6e6e6;
  cursor: pointer;
}

.adult-count-wrapper .minus:focus,
.adult-count-wrapper .plus:focus,
.children-count-wrapper .minus:focus,
.children-count-wrapper .plus:focus {
  outline: none;
  border: 3px solid #83b3d3;
  border-radius: 4px;
  opacity: 1;
}

.adult-count-wrapper .minus:active,
.adult-count-wrapper .plus:active,
.children-count-wrapper .minus:active,
.children-count-wrapper .plus:active {
  opacity: 0.2;
}

.adults-label {
  max-width: 118px;
  margin-right: 71px;
}

.modal-form .submit-form-modal {
  width: 100%;
  background: #83b3d3;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 3px solid transparent;
  flex-grow: 1;
}

.modal-form .submit-form-modal:hover,
.modal-form .submit-form-modal:active {
  background-color: #68a2ca;
}

.modal-form .submit-form-modal:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
  outline: none;
}

.modal-form .submit-form-modal:disabled {
  background-color: #595959;
}

/*Tooltip*/

.tooltip {
  position: relative;
}

.tooltip-button-icon {
  fill: #ffffff;
  position: absolute;
  top: 34%;
}

.tooltip-toggle {
  position: relative;
  background-color: #83b3d3;
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  top: 12%;
  margin-left: 10px;
  margin-right: 18px;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.tooltip-toggle:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.tooltip-text {
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: block;
  width: 256px;
  padding: 20px 18px;
  position: absolute;
  right: -152px;
  top: 50px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/icons/tooldtip-end.png");
  width: 20px;
  height: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -7px;
  margin-left: auto;
  margin-right: auto;
}

/*Catalog*/

.catalog-hotel-search {
  position: relative;
  /* top: 6px; */
  background-image: url("../images/bg-catalog.jpg");
  background-size: 100 auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #ffffff;
}

.sorting-container {
  max-width: 1057px;
  margin: 0 auto;
  height: 396px;
}

.catalog-page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 0;
  margin-top: 35px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -7px;
}

.breadcrumbs-item {
  display: inline-block;
}

/* Link */

.breadcrumbs-link {
  color: inherit;
  margin-right: 13px;
  position: relative;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link::after {
  content: "";
  width: 5px;
  height: 8px;
  float: right;
  margin: 8px 8px 0 0;
  background: url("../images/icons/nav-link.svg") no-repeat;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  content: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.breadcrumbs-link:focus {
  border: 3px solid #83b3d3;
  background-repeat: 4px;
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.hotel-search-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 31px;
  margin-top: 44px;
}

.hotel-search-checkbox,
.hotel-search-radio {
  position: relative;
  padding-left: 39px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.hotel-search-checkbox input,
.hotel-search-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.hotel-search-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.hotel-search-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.hotel-search-checkbox .checkmark:after,
.hotel-search-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.hotel-search-checkbox input:checked ~ .checkmark:after,
.hotel-search-radio input:checked ~ .checkmark:after {
  display: block;
}

.hotel-search-checkbox:hover input ~ .checkmark,
.hotel-search-radio:hover input ~ .checkmark {
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.hotel-search-checkbox:focus input ~ .checkmark,
.hotel-search-radio:focus input ~ .checkmark {
  border: 3px solid #83b3d3;
  outline: none;
}

.hotel-search-radio .checkmark:active,
.hotel-search-checkmark .checkmark:active {
  background: rgba(255, 255, 255, 0.3);
}

.hotel-search-radio .checkmark:disabled,
.hotel-search-checkmark .checkmark:disabled {
  color: #595959;
  border-color: #595959;
  cursor: not-allowed;
}

.hotel-search-checkbox .checkmark:after {
  top: 50%;
  left: 50%;
  width: 12px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-image: url("../images/icons/tick.svg");
  background-repeat: no-repeat;
}

.hotel-search-radio .checkmark:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #3f5e72;
}
.hotel-search-radio,
.hotel-search-checkbox,
.hotel-search-cost {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  display: block;
}

.hotel-search-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 80px;
}

.hotel-search-infrastructure {
  max-width: 155px;
  margin-right: 67px;
}

.hotel-search-housing {
  max-width: 155px;
}

.hotel-search-cost {
  max-width: 290px;
  margin-left: auto;
}

.hotel-search-checklist:not(:last-child) {
  margin-bottom: 13px;
}

.hotel-search-checkbox:not(:last-child) {
  margin-bottom: 13px;
}
.labels-container {
  position: relative;
}

.min-price-label,
.max-price-label {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 14px;
}

.min-price-label {
  left: 115px;
}

.max-price-label {
  left: 250px;
}

.min-price,
.max-price {
  border: 2px solid #ffffff;
  background: transparent;
  padding: 12px 15px;
  padding-right: 40px;
  margin-top: 3px;
  width: 50%;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  -moz-appearance: textfield;
}

.max-price {
  margin-left: -5px;
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.min-price {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.min-price::-webkit-outer-spin-button,
.min-price::-webkit-inner-spin-button,
.max-price::-webkit-outer-spin-button,
.max-price::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.min-price:hover,
.max-price:hover {
  cursor: pointer;
  opacity: 0.6;
}

.min-price:focus,
.max-price:focus {
  box-shadow: 0px 0px 0px 3px #81b3d2;
  border-radius: 4px 0px 0px 4px;
  outline: none;
}

.min-price:active,
.max-price:active {
  background: #756257;
}

/* Invalid */

.max-price:invalid,
.max-price:focus:invalid,
.min-price:invalid,
.min-price:focus:invalid {
  border: 2px solid #ff5757;
}

/* Disabled */
.max-price:invalid,
.max-price:focus:invalid,
.min-price:disabled,
.min-price:disabled:hover {
  color: #595959;
  border-color: #595959;
}

/* Range */

.range {
  width: 100%;
  margin-top: 25px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #ffffff;
  border-radius: 2px;
  width: 235px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.3;
  left: 235px;
  width: 55px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
}

.range-toggle:disabled {
  background-color: #595959;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.card-grid-toggle {
  display: inline-block;
  background: #ffffff;
  width: 51px;
  height: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
}

.card-grid-toggle:active {
  border-color: #000000;
}

.card-grid-toggle:hover,
.card-grid-toggle:active {
  border-color: #83b3d3;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  margin-top: 107px;
  padding: 12px 30px;
  margin-bottom: 20px;
  outline: none;
  border: none;
}

.submit-button:hover {
  background: #68a2ca;
}

.submit-button:focus {
  border: 3px solid #ffffff;
}

.submit-button:active {
  opacity: 0.3;
}

.submit-button:disabled {
  background-color: #595959;
}

.reset-button {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.submit-button,
.reset-button {
  margin-left: 77px;
  display: block;
  cursor: pointer;
  display: inline-block;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  border: 3px solid #83b3d3;
}

.reset-button:active {
  opacity: 0.3;
}

/* Hotel Search Display result*/

.search-results {
  max-width: 1057px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.search-results-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hotel-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  width: 287px;
  padding: 10px 14px 12px 14px;
  font-size: 16px;
  line-height: 23px;
  color: #333333;
  margin-left: auto;
  margin-right: 80px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-control option {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #83b3d3;
  cursor: pointer;
}

.select-control:active {
  border: 2px solid #e6e6e6;
}

.hotel-search-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  margin-bottom: -8px;
  z-index: 100;
}

.hotel-card {
  margin-bottom: 49px;
  margin-left: 60px;
}

.hotel-card:first-child,
.hotel-card:nth-child(4n) {
  margin-left: 20px;
}

.hotel-card-link {
  display: block;
  text-decoration: none;
}

.hotel-card-link img:hover {
  opacity: 0.6;
}

.hotel-card-link:focus {
  outline: none;
}

.hotel-card-link:focus img {
  border: 3px solid #83b3d3;
  outline: none;
}

.hotel-card-link img:active {
  opacity: 0.3;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
  margin-top: 13px;
  margin-bottom: 17px;
}

.hotel-review {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 21px 37px max-content;
  column-gap: 10px;
  row-gap: 16px;
  max-width: 301px;
}

.hotel-review p {
  grid-column: 1 / 2;
  align-content: start;
  margin: 0;
}

.hotel-review span {
  grid-column: 2 / 3;
  align-content: start;
}

/*Star rating display*/

.two-stars {
  background-image: url("../images/icons/star.svg");
  background-size: contain;
  max-width: 115px;
  width: 43px;
  height: 17px;
}

.three-stars {
  background-image: url("../images/icons/star.svg");
  background-size: contain;
  max-width: 115px;
  width: 65px;
  height: 17px;
}

.four-stars {
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat;
  background-size: contain;
  max-width: 115px;
  width: 84px;
  height: 17px;
}

.star-review {
  padding-top: 10px;
}

.rating-container {
  grid-column: span 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hotel-card-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
  text-decoration: none;
  padding: 6px 15px;
  margin-right: 15px;
  border: 3px solid transparent;
}

.hotel-card-button:hover {
  background: #615048;
  cursor: pointer;
}

.hotel-card-button:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.hotel-card-button:active {
  opacity: 0.3;
}

.hotel-card-button:disabled {
  background-color: #595959;
}

.hotel-card-button-favourite {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 19px;
  max-width: 140px;
  border: 1px solid transparent;
}

.hotel-card:nth-child(3) .hotel-card-button-favourite {
  background: #7db54f;
}

.hotel-card:nth-child(3) .hotel-card-button-favourite:hover {
  background: #6c9e42;
  cursor: pointer;
}

.hotel-card:nth-child(3) .hotel-card-button-favourite:focus {
  background: #6c9e42;
  outline: none;
}

.hotel-card:nth-child(3) .hotel-card-button-favourite:active {
  opacity: 0.3;
}

.hotel-card-button-favourite:hover {
  background: #68a2ca;
  border-color: #756257;
  cursor: pointer;
}

.hotel-card-button-favourite:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  padding: 6px 17px;
  outline: none;
}

.hotel-card-button-favourite:active {
  border-color: #756257;
  opacity: 0.3;
}

.hotel-card-button-favourite:disabled {
  background-color: #595959;
}

.customer-rating {
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 9px 27px;
  margin-left: auto;
}

.pagination {
  max-width: 1056px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 25px;
}

.pagination-display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pagination-link {
  display: inline-block;
}

.pagination-link.active {
  background: #f2f2f2;
  border-radius: 4px;
  color: #000000;
}

.pagination-link:hover {
  background: #68a2ca;
  border-radius: 4px;
}

.pagination-link:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  border-radius: 4px;
}

.pagination-link:active {
  background: #68a2ca;
  color: #ffffff;
  opacity: 0.3;
}

.pagination-link:disabled {
  background-color: #595959;
}

.pagination-display span {
  margin-right: 51px;
}

.pagination-select {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  width: 160px;
  padding: 13px 17px;
}

.more-results {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.more-results-button {
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 620px;
  margin-top: 41px;
  margin-bottom: 30px;
  border: none;
}

.more-results-button:hover {
  background: #68a2ca;
}

.more-results-button:focus {
  border: 3px solid #756257;
}

.more-results-button:active {
  opacity: 0.3;
}

.more-results-button:disabled {
  background-color: #595959;
}

/*Pagination*/

.pagination-links {
  text-align: center;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 55px;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  width: 54px;
  height: 55px;
  display: inline-block;
  text-decoration: none;
}

.pagination-link:not(:first-child) {
  margin-left: 5px;
}
