@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/*General rules*/

.navigation-list,
.user-navigation-list,
.advantages-list,
.advantages-sublist {
  list-style: none;
}

.wrapper {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/*Pages*/

.page-header {
  display: flex;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
}

/*Navigation*/

.logo img {
  margin-left: 70px;
  margin-right: 30px;
}

.navigation {
  display: flex;
  width: 921px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-item {
  margin-right: 35px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-user {
  max-width: 300px;
  width: auto;
  margin-left: auto;
}

.navigation-link {
  display:block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  
}



.navigation-link.favourite {
  position: relative;
}

.navigation-link.favourite .count {
  position: absolute;
  right: -14px;
  top: -7px;
  display: block;
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 20px;
  color: #ffffff;
}

.navigation-link-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
  padding: 10px 33px;
}

/*Main Content Container*/

/*Main*/

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/*Banner*/

.banner {
  box-sizing: content-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 458px;
  width: 100%;
  padding-top: 51px;
  padding-bottom: 80px;
}

.main-description {
  position: relative;
  background-image: url("../images/index-background.jpg");
  background-color: #756257;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.main-description:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 57px;
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
}

/*Advantages*/

/*List*/

.advantages-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
}

/* Wrapper for Advantages #1 and #2 */

.item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 30px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.advantages p {
  text-align: center;
  max-width: 252px;
  margin-top: 0;
 
}

.advantages > p {
  color: #333333;
  margin-bottom: 80px;
  margin-top: 0;
  max-width: none;
}


/*Выставляет отступы у иконок*/

.house-pic {
  margin-top: 89px;
}

.food-pic {
  margin-top: 91px;
}

.souvenir-pic {
  margin-top: 85px;
}


/* Задаёт фон и цвет*/

.advantages-item:nth-child(odd) .item-wrapper {
  background: #83b3d3;
  color: #ffffff;
}

.advantages-item:nth-child(3) {
  flex-direction: row-reverse;
}

.advantages-item:last-child .advantages-sublist-item:nth-child(2) {
  background: rgba(131, 179, 211, 0.2);
  
}

.advantages-sublist .advantages-sublist-item:not(:nth-child(2)) {
  background: rgba(131, 179, 211, 0.12);
}

/* Задаёт свойства для заголовков*/

.advantages-item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.advantages-item-subtitle {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 98px;
  margin-right: 105px;
  margin-left: 106px;
}

.advantages-sublist {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.advantages-sublist-item {
  width: 400px;
  text-align: center;
 
}
  
.advantages-sublist p {
  color: #333333;
  margin-right: 65px;
  margin-left: 65px;
  text-align: center;
  
}

.advantages-sublist p:first-of-type {
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  margin-right: 79px;
  margin-left: 80px;
  max-width: 241px;
  
}

.advantages-sublist p:last-child {
  margin-bottom: 108px;
  
}
.advantages-sublist.reasons p:last-of-type {
  margin-bottom: 75px;
}


/*hotel Search*/

.index-hotel-search {
  text-align: center;
  padding-bottom: 90px;
  padding-top: 30px;
}

.index-hotel-search-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 90px;
}

.index-hotel-search p {
font-family:"PT Sans", sans-serif;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
margin-top: 0;
margin-bottom: 56px;
}

.hotel-search-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756257;
  border-radius: 10px;
  padding: 20px 130px;
  
 
}

/*Newsletter*/

.newsletter {
  background-image: url("../images/bg_newsletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 94px;
  padding-bottom: 94px;
  color: #ffffff;
  text-align: center;
}

.catalog-main .newsletter {
  background-image: none;
  
}

.catalog-main .newsletter-title {
  color: #000000;
}

.catalog-main .newsletter-text {
  color: #333333;
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  padding-bottom: 46px;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  padding: 20px 30px;
  border: 0;
}

.newsletter-email {
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  padding: 24px 22px;
  width: 600px;
  border: none;
}

.newsletter-email::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);

}

/*Page footer*/

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
  margin: 0 auto
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.social-links-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.social-link-item {
  text-decoration: none;
  list-style: none;
  margin-right: 30px;

}

.social-link-item:last-child {
  margin-right: 0;
}

.twitter {
  background-image: url("../images/icons/twitter.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 18px;
  height: 15px;
  
}

.facebook {
  background-image: url("../images/icons/facebook.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 10px;
  height: 18px;
}

.youtube {
  background-image: url("../images/icons/youtube.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 20px;
  height: 16px;
}

/*Catalog*/

.catalog-hotel-search {
  background-image: url("../images/bg-catalog.jpg");
  background-size: 100 auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #ffffff;
}

.sorting-container {
  max-width: 1057px;
  margin: 0 auto;
}

.catalog-page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 0;
  margin-top: 35px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  display: inline-block;
}

/* Link */

.breadcrumbs-link {
  color: inherit;
}

.hotel-search-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 30px;
}

.hotel-search-checkbox,
.hotel-search-checklist,
.hotel-search-cost {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  display: block;
}


.hotel-search-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 80px;
}

.hotel-search-infrastructure {
  max-width: 155px;
  margin-right: 67px;
}

.hotel-search-housing {
  max-width: 155px;
   
}

.hotel-search-cost {
  max-width: 290px;
  margin-left: auto;
}

.hotel-search-checklist:not(:last-child) {
  margin-bottom: 13px;

}

.hotel-search-checkbox:not(:last-child){
  margin-bottom: 13px;
}

.min-price,
.max-price {
  border: 2px solid #FFFFFF;
  background: transparent;
  padding: 13px 15px;
  width: 50%;
  color:#ffffff;
  font-size: 18px;
  line-height: 23px;
}

.max-price {
  margin-left: -5px;
  border-left: 0;
}

.range {
  width: 100%;
  margin-top: 25px;
}

.element-view {
  background: #ffffff;
  width: 48px;
  height: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.element-view.active {
  border-color: #000000;
}

.element-view:hover,
.element-view:active {
  border-color: #83b3d3;
}

.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  margin-top: 75px;
  padding: 12px 30px;
  margin-bottom: 20px;
}

.submit-button,
.reset-button {
  margin-left: 80px;
  display: block;
}

/* Hotel Search Display result*/

.search-results {
  max-width: 1057px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.search-results-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.hotel-search-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */ 
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-card {
  margin-bottom: 54px;
  width: 33.33%;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 20px;
}

.hotel-card-button-favourite {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 20px;
}

.customer-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  max-width: 1056px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination-display {
  display: flex;
 
}

.pagination-display span {
  margin-right: 51px;
}

.more-results {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  text-align: center;
}

.more-results-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 620px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
}

.pagination-links {
  text-align: center;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 55px;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  width: 55px;
  height: 55px;
  display: inline-block;
  text-decoration: none;
}

.pagination-link:not(:last-child) {
  margin-left: 5px;
}
